# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'

    - name: Build
      run: go build -v

    - name: Test
      run: |-
        go test -v ./... &&
        go build -o ./edge-tts-go ./main.go &&
        mkdir ./artifacts &&
        cp ./edge-tts-go ./artifacts/ &
        ./edge-tts-go --write-media test.mp3 -t "Checking the connection" &&
        cp ./test.mp3 ./artifacts/
        ./edge-tts-go -l>/dev/null
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4.6.2
      with:
        name: mp3test
        path: ./artifacts
        if-no-files-found: error
        retention-days: 2
        compression-level: 8
        overwrite: true
