# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: Go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3

    - name: Set up Go
      uses: actions/setup-go@v4
      with:
        go-version: '1.24'

    - name: Install ffmpeg
      run: sudo apt-get update && sudo apt-get install -y ffmpeg

    - name: Build
      run: go build -v

    - name: Test
      run: |-
        go test -v ./... &&
        mkdir ./artifacts &&
        go build -ldflags="-s -w" -o ./artifacts/edge-tts-go ./main.go &&
        ./artifacts/edge-tts-go --write-media ./artifacts/test.mp3 -t "Checking the connection" -v "en-US-AriaNeural" &&
        ffmpeg -hide_banner -loglevel error -i ./artifacts/test.mp3 qwe.ogg &&
        ./artifacts/edge-tts-go -l -L ru-RU
    - name: Upload a Build Artifact
      uses: actions/upload-artifact@v4.6.2
      with:
        name: edge-tts-go-test-with-mp3
        path: ./artifacts
        if-no-files-found: error
        retention-days: 2
        compression-level: 8
        overwrite: true
